<h1>Pages#contact</h1>
<p><%= number_to_phone "0630509448" %></p>
<p><%= number_to_currency "9.56" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "23413434134332" %></p>